body{
    background-color: #D9D9D9;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}

#oldalterulet{
    width: 100%;
    height: 800px;
    background-color: #D9D9D9;
}

#lablec{
    width: 100%;
    height: 400px;
    background-color: #3B3955;
    bottom: 0;
}


.oldalsavok{
    border-width: 2px;
    border: black;
    border-color: black;
    width: 200px;
    height: 700px;
    display: inline-block;
}

#oldal_bal{
    background-color: #D9D9D9;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 30%;
    height: 700px;
    display: inline;
    float: left;
    margin-left: 3%;
    margin-top: 5%;
}



#oldal_jobb{
    background-color: #D9D9D9;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 30%;
    height: 700px;
    display: inline;
    float: right;
    margin-right: 12%;
    margin-top: 5%;
}




#lablec_al{
    width: 93%;
    height: 100%;
    float: right;
}

#lablec_bal{
    margin: 5%;
    height: 70%;
    width: 20%;
    margin-bottom: 0%;
    display: inline-block;
    background-color: #3B3955;
    bottom: 0;
}

#lablec_kozep{
    margin: 5%;
    height: 70%;
    width: 20%;
    margin-bottom: 0%;
    display: inline-block;
    background-color: #3B3955;
    bottom: 0;
}

#lablec_jobb{
    margin: 5%;
    height: 70%;
    width: 20%;
    margin-bottom: 0%;
    display: inline-block;
    background-color: #3B3955;
    bottom: 0;
}

#lablec_bal:hover{
    height: 71%;
    width: 21%;
}

#lablec_kozep:hover{
    height: 70%;
    width: 21%;
}

#lablec_jobb:hover{
    height: 71%;
    width: 21%;
}









#kep_bal{
    background-image: url(kepek2/Grand\ Hotel\ Oslo.png);
    background-position-x: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    display: block;
    background-size: 120%;

    border-top-left-radius: 30px;   
    border-top-right-radius: 30px;  
}

#kepirat_bal{
    background-color: #D9D9D9;
    width: 100%;
    height: 20%;
    display: block;

    text-align: center;
    font-size: xx-large;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}





#kep_kozep{
    background-image: url(kepek2/amerikalinjen.png);
    background-position: 60%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    display: block;

    border-top-left-radius: 30px;   
    border-top-right-radius: 30px;
}

#kepirat_kozep{
    background-color: #D9D9D9;
    width: 100%;
    height: 30%;
    display: block;

    text-align: center;
    font-size: xx-large;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}





#kep_jobb{
    background-image: url(kepek2/Holmenkollen\ Park\ Hotel.png);
    background-position: 60%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    display: block;

    border-top-left-radius: 30px;   
    border-top-right-radius: 30px;

    
}

#kepirat_jobb{
    background-color: #D9D9D9;
    width: 100%;
    height: 20%;
    display: block;

    text-align: center;
    font-size: xx-large;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;


}














#oldal_bal_lenn{
    background-color: #3B3955;
    color: white;
    font-size: x-large;
    margin: 5%;
    padding: 5%;
}

#oldal_jobb_lenn{
    background-color: #3B3955;
    color: white;
    font-size: x-large;
    margin: 5%;
    padding: 5%;
}


#oldal_bal_fenn{
    background-color: #3B3955;
    color: white;
    font-size: x-large;
    margin: 5%;
    padding: 2%;
    border-radius: 5%;
    width: 30%;
}

#oldal_jobb_fenn{
    background-color: #3B3955;
    color: white;
    font-size: x-large;
    margin: 5%;
    padding: 2%;
    border-radius: 5%;
    width: 30%;
}





















h1{
    margin-left: 10%;
    margin-right: auto;
    text-align: center;
}

h2{
    margin-right: 10px;
}

#fooldal{
    width: 200px;
    height: 60px;
    color: white;
    background-color: #3B3955;
    border-bottom-right-radius: 20%;
    float: left;
    margin-top: 0px;
    margin-bottom: 50px;
    display: block;
}

button:hover{
    background-color: #28273b;
}

input{
    background-color: #3B3955;
    color: white;
    height: 20px;
}

table{
    float: right;
}






/*fejléc*/

header{
    background-color: #3B3955;
    height: 117px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
   
}

.logo{
    width: 120px;
    height: 120px;
    text-align: center;
   
}
#telefon
{
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 0%;
    margin-left: 77%;

}

.telefonszam{
    color: white;
    margin: 0;                    
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
   
}

a{
    color: black;
}





.logok{
    max-height: 150px;
    margin: 20px;
}

#logoktabla{
    float: right;
    margin-left: 20%;
}

#logocenter{
    margin-left: 400px;
}

#logoright{
    margin-left: 400px;
}

#tb1{
    color: white;
    font-size: 300%;
}

#tb2{
    color: white;
    font-size: 300%;
}

#tb3{
    color: white;
    font-size: 100%;
}


@media only screen and (max-width: 1700px){
    #oldal_bal_fenn{
        background-color: #3B3955;
        color: white;
        font-size: x-large;
        margin: 5%;
        padding: 2%;
        border-radius: 5%;
        width: 60%;
    }
    
    #oldal_jobb_fenn{
        background-color: #3B3955;
        color: white;
        font-size: x-large;
        margin: 5%;
        padding: 2%;
        border-radius: 5%;
        width: 60%;
    }

    #telefon
{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 0%;
    margin-left: 77%;
    display: block;

}

.telefonszam{
    color: white;
    margin: 0;                    
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
    margin-right: 70%;
    display: block;
   
}

#logoktabla{
    width: 20%;
}

#logoleft{
    display: block;
    width: 50px;
    height: 50px;
}

#logocenter{
    display: block;
    width: 50px;
    height: 50px;
}

#logoright{
    display: block;
    width: 50px;
    height: 50px;
}
    
}

@media only screen and (max-width: 1260px){


    #oldal_bal{
        background-color: #D9D9D9;
        border-width: 2px;
        border: black;
        border-color: black;
        width: 100%;
        height: 700px;
        display: block;
        float: left;
        margin-top: 5%;
    }
    
    
    
    #oldal_jobb{
        background-color: #D9D9D9;
        border-width: 2px;
        border: black;
        border-color: black;
        width: 100%;
        height: 700px;
        display: block;
        float: left;
        margin-top: 10%;
        margin-left: 4%;
    }

    #lablec{
        width: 100%;
        height: 400px;
        background-color: #3B3955;
        bottom: 0;
        margin-top: 950px;
    }
}