body{
    background-color: #D9D9D9;
    margin: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(Képek/hatterkep.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.telefon-csoport{
    display: flex;       /* Egymás mellé teszi az ikont és a számot */
    align-items: center; /* Függőlegesen középre igazítja őket egymáshoz képest */
    gap: 10px;   
}
.telefonszam {
    color: white;                  
    font-size: 16px;
    font-weight: bold;
    margin: 0;           /* Nullázzuk a margót */
    white-space: nowrap; /* Biztosítja, hogy ne törjön új sorba a szám */
}
header{
    background-color: #3B3955;
    height: 117px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100px;
    width: auto;
}
#telefon
{
    width: 70px;
    height: auto;
    margin-right: 5px;
}
.alcim{
    text-align: center;
    color: white;
}
.card1{
    font-size: 30px;
    background-color: #3B3955;
   text-align: center;
   border-radius: 13px;
   max-width: 800px;
   padding: 20px 20px;
   color: white;
}