body {
    background-color: #D9D9D9;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url("Képek/hatterkep.png");
    background-repeat: no-repeat;
    background-size: cover;      /* hogy kitöltse a teljes képernyőt */
    background-position: center; /* középre igazítás */
}
.tartalom{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
#cim
{
color:black;

}
#oldalterulet{
    margin-top:100px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    
}
#oldal_bal,
#oldal_jobb {
    background-color: transparent;
    width: auto;
    height: auto;
   
   
}
#lablec{
    width: 100%;
    height: 400px;
    background-color: #3B3955;
    bottom: 0;
}
.card1, .card2 {
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 18px;
    width: 90%;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    background-color: #3B3955;
    color: white;
    border-radius: 10px;
}

.card1:hover, .card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #000;
}
.oldalsavok{
    border-width: 2px;
    border: black;
    border-color: black;
    width: 200px;
    height: 700px;
    display: inline-block;
}

#oldal_bal{
   
    border-width: 2px;
    border: black;
    border-color: black;
    width: 40%;
    height: 700px;
    float: left;
    margin-left: 3%;
    margin-top: 5%;
}



#oldal_jobb{
   
    border-width: 2px;
    border: black;
    border-color: black;
    width: 30%;
    height: 700px;
    float: right;
    margin-right: 10%;
    position: relative;
    bottom: 0;
    margin-top: 5%;
}




#lablec_al {
    background-color: #3B3955;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#lablec_bal, #lablec_kozep, #lablec_jobb {
   flex: 1;
   min-width: 250px;
   height: auto;
}

#lablec_bal:hover, #lablec_kozep:hover, #lablec_jobb:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#kep_bal, #kep_kozep, #kep_jobb {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#kepirat_bal, #kepirat_kozep, #kepirat_jobb {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: auto;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



#oldal_bal_fenn{
    width: 100%;
    height: 20%;

}

#oldal_bal_lenn{
   
   
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 7%;
}
.kep
{
    max-width: 100%;
    height: auto;
    border-radius: 13px;
}
.kep1
{
    width: 100%;
    height: 224px;
    
    border-top-left-radius:13px ;
    border-top-right-radius:13px ;
   
}
.kep2{
    width: 100%;
    height: 224px;
    border-top-left-radius:13px ;
    border-top-right-radius:13px ;
}
.kep3
{
    width: 100%;
    height: 224px;
    border-top-left-radius:13px ;
    border-top-right-radius:13px ;
}

h1{
    margin-left: 10%;
    margin-right: auto;
    text-align: center;
}

h2{
    margin-right: 10px;
}

button{
    width: 200px;
    height: 60px;
    color: white;
    background-color: #3B3955;
    border-radius: 5%;
    border-radius: 20%;
    float: right;
    margin-top: 10px;
}


button:hover{
    background-color: #28273b;
}

input{
    background-color: #3B3955;
    color: white;
    height: 20px;
}

table{
    float: right;
}






/*fejléc*/

header {
    background-color: #3B3955;
    height: 117px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.logo {
    height: 100px;
    width: auto;
}



#telefon {
    width: 70px;
    height: auto;
    margin-right: 5px;
}

.telefonszam {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
#phone
{
    display:flex;
}
ul {
    display: flex;
    gap: 40px;
    list-style: none;
   
    background-color: #3B3955;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    text-decoration: none;
}

ul li a:hover {
    background-color: #28273b;
}

