body{
    background-color: #D9D9D9;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}

#oldalterulet{
    width: 100%;
    height: 800px;
    background-color: #D9D9D9;
}

#lablec{
    width: 100%;
    height: 400px;
    background-color: #3B3955;
    bottom: 0;
}

.oldalsavok{
    border-width: 2px;
    border: black;
    border-color: black;
    width: 200px;
    height: 700px;
    display: inline;
}

#oldal_bal{
    background-color: aquamarine;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 200px;
    height: 700px;
    display: inline;
}

#oldal_kozep{
    background-color: aquamarine;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 200px;
    height: 700px;
    display: inline;
}

#oldal_jobb{
    background-color: aquamarine;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 200px;
    height: 700px;
    display: inline;
}
