body{
    background-color: #D9D9D9;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}

#oldalterulet{
    width: 100%;
    height: 800px;
    background-color: #D9D9D9;
}

#lablec{
    width: 100%;
    height: 400px;
    background-color: #3B3955;
    bottom: 0;
}

.oldalsavok{
    border-width: 2px;
    border: black;
    border-color: black;
    width: 200px;
    height: 700px;
    display: inline-block;
}

#oldal_bal{
    background-color: aquamarine;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 28%;
    height: 700px;
    display: inline-block;
    float: left;
}

#oldal_kozep{
    background-color: aquamarine;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 28%;
    height: 700px;
    display: inline-block;
    margin-left: 140px;
}

#oldal_jobb{
    background-color: aquamarine;
    border-width: 2px;
    border: black;
    border-color: black;
    width: 28%;
    height: 700px;
    display: inline-block;
    float: right;
}




#lablec_al{
    width: 93%;
    height: 100%;
    float: right;
}

#lablec_bal{
    margin: 5%;
    height: 70%;
    width: 20%;
    margin-bottom: 0%;
    display: inline-block;
    background-color: #3B3955;
    bottom: 0;
}

#lablec_kozep{
    margin: 5%;
    height: 70%;
    width: 20%;
    margin-bottom: 0%;
    display: inline-block;
    background-color: #3B3955;
    bottom: 0;
}

#lablec_jobb{
    margin: 5%;
    height: 70%;
    width: 20%;
    margin-bottom: 0%;
    display: inline-block;
    background-color: #3B3955;
    bottom: 0;
}


#kep_bal{
    background-image: url(kepek2/amerikalinjen.png);
    background-position: 60%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    display: block;

    border-top-left-radius: 30px;   
    border-top-right-radius: 30px;  
}

#kepirat_bal{
    background-color: #D9D9D9;
    width: 100%;
    height: 20%;
    display: block;

    text-align: center;
    font-size: xx-large;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}





#kep_kozep{
    background-image: url(kepek2/Holmenkollen\ Park\ Hotel.png);
    background-position: 60%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    display: block;

    border-top-left-radius: 30px;   
    border-top-right-radius: 30px;
}

#kepirat_kozep{
    background-color: #D9D9D9;
    width: 100%;
    height: 20%;
    display: block;

    text-align: center;
    font-size: xx-large;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}





#kep_jobb{
    background-image: url(kepek2/clarion-hotel.png);
    background-position: 60%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    display: block;

    border-top-left-radius: 30px;   
    border-top-right-radius: 30px;

    
}

#kepirat_jobb{
    background-color: #D9D9D9;
    width: 100%;
    height: 20%;
    display: block;

    text-align: center;
    font-size: xx-large;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}



#oldal_bal_fenn{
    width: 100%;
    height: 20%;
}

#oldal_bal_lenn{
    width: 100%;
    height: 70%;
}