body
{
background-color: #D9D9D9;


}


header{
    margin:auto;
    margin-bottom:50px;
    height: 70px;
    padding: 20px;
    background-color:#3B3955;
    color:white;
    width: 100%;
}
#cim
{
    text-align: center;
    font-size: 36px;
    padding-bottom:10px;
    

}
#logo{
    
        width: 140px;
        height: 140px;
        float: left;
        margin: 0;
        margin-top: -35px;
        margin-left: -30px;
    
}
#lec
{
    display:inline-flex;
}
#leiras
{
background-color: #3B3955;
color:white;
font-size:32px;
float:left;
text-align: center;
margin-left: 50px;
margin-right:50px;


}
#Oslo
{
    width:660.16px ;
    height:411.96px ;
}