body{
    background-color: grey;
    margin: auto;
}
header{
    background-color: #3B3955;
    height: 117px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
   
}
#cim
{
    font-size:48px;
    margin-left:350px;
}
.logo{
    width: 120px;
    height: 120px;
    text-align: center;
   
}
.telefonszam{
    color: white;
    margin: 0;                    
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
   
}
#bemutato
{
    display: flex;
}

.card1{
    margin-top: 25px;
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;

    font-size: 50px;

    font-size: 55px;

    width: 723.63px;
    text-align: center;
    height: 412px;
    color: white;
    
    background-color: #3B3955;
    margin-left: 50px;
    border-radius: 13px;
    
}
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.0);
    color: black;
}
.alszoveg{
    font-size: 65px;

}
.szoveg{
    margin-top: 5px;
}
.card2
{
height: 211.96px;
width:660.16px;
margin-left: 500px;




}
#oslo
{
    height: 411.96px;
    width:660.16px;
    

}