body{
    background-color: grey;
}
header{
    background-color: #3B3955;
    height: 117px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    
}
.logo{
    width: 120px;
    height: 120px;
    text-align: center;
    
}
.telefonszam{
    color: white;
    margin: 0;                     
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
    
}
.card1{
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
}
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}